
.container {
    margin-top: 2em;
    margin-bottom: 2em;
}

a, a:visited {
    background:inherit;
    color:#588AA3;
    text-decoration:none;
}

a:hover {
   background:inherit;
    color:#588AA3;
    text-decoration:none;
}

.hero-unit {
    padding: 0;
    background: none;
}

hr {
    border-color: #aaa;
    clear: both;
}
.cta{
    color: #FFFFFF;
}
.boxed {
    border-radius:4px;
}

#skiplinks {
    margin-left: .5em;
}

#top li {
    display: inline;
}

#top .selected a {
    color: #333;
}

#banner {
    position: relative;
}

#banner .hero-unit {
    background-color: #a3ca5f;
    padding: 2em;
    margin-bottom: .5em;
}

#logo-text a {
    color: #fff;
    text-decoration: none;
}

#language_selector {
    margin-right: 1em;
    text-align: right;
}

#top a {
    padding: .5em;
}

#language_selector li span {
    display: none;
}

#breadcrumb .breadcrumb {
    border: none;
    background-color: #4b4b4b;
    background-image: none;
    box-shadow: none;
    margin-bottom: .5em;
    padding-left: 2em;
    filter: none;
}

#breadcrumb .breadcrumb li {
    text-shadow: none;
}

#breadcrumb .breadcrumb li a {
    color: #a3ca5f;
}

#breadcrumb .breadcrumb li:after {
    content: " /";
    color: #ccc;
}

#breadcrumb .breadcrumb li:last-child:after {
    content: none;
}

#navigation ul {
    padding: .5em 0;
}

#navigation ul.menu_main {
    margin: 0;
}

#navigation li {
    list-style-type: none;
    padding: .5em 0;
}

#navigation li:before {
    content: "/ ";
    color: #ccc;
}

#navigation li a {
    padding: .5em 0;
}

#navigation .current_ancestor > a,
#menu-service .current_ancestor > a  {
    font-weight: bold;
}

#navigation .current > a,
#menu-service .current > a {
    color: #4b4b4b;
}

#content-container {
    background-color: #fff;
    padding: 2em 0;
}

#content, #content_extra {
    position: relative;
}

#content-container h1 {
    line-height: 1.5em;
}

#content-container h2 {
    line-height: 1.3em;
}

.articleContainer {
    position: relative;
}

.articleContainer ul.tags {
    margin: 0;
}

.articleContainer ul.tags li {
    margin-right: .5em;
    display: inline;
    background-color: #4B4B4B;
    font-size: 1em;
    padding: 2px 4px 4px 4px;
    font-weight: normal;
}

.articleContainer > * {
}

#footer {
    margin-top: 1em;
}

#footer p {
    margin-right: 2em;
    text-align: right;
}

#menu-service li {
    display: inline;
}

#menu-service li:after {
    content: " |";
    color: #ccc;
}

#menu-service li:last-child:after {
    content: none;
}
div#login {
    width:500px;
    color: #F46833;
    padding-top: 160px;
}
div#login .form-group input{
    width:75%;
    
}
#login-logo{
    padding:20px 146px;
}
div#login label {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 5px;
}
div#login input[type="submit"] {
  
  background: #F46833;
  color: #FFF;
  border: none;
  
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
.logo{
    float: left;
}
.well-top {
    border-radius: 0 0 0 0;
    height: 75px;
    margin-bottom: 0;
    min-height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.ui-widget-header{
    border:1px solid #F1F1F1;
    background:#F1F1F1 50% 50% repeat-x;
    color:#fff;
    font-weight:bold
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
 {
    background: repeat-x scroll 50% 50% #FFFFFF;
    border: 1px solid #588AA3;
    color: #588AA3;
    font-weight: bold;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #588AA3;
    text-decoration: none;
}
#create-ui-toggle-toolbar {
    background-image: url("/bundles/applicationmain/images/pencil.png");
    background-size:45px 45px;
}
.ui-widget-content {
    background-color: #fff;
    border: 0px;
    color: #333333;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{
    border-top-right-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}
.ui-tabs .ui-tabs-nav li {
    border-width: 0;
    margin: 1px 0.2em 0 -1px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}
.ui-tabs {
    padding: 0px;
    position: relative;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
}

@media (max-width: 767px) {

    #banner .hero-unit h1 {
        font-size: 48px;
    }

    #banner img {
        height: 60%;
    }

    #content-container {
        padding: 0;
    }

    #content {
        margin-top: 3em;
    }

    #navigation .well {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
