<div class="row">
	<div id="login" class="container">
    	<div class="panel panel-default">
        	<div class="panel-heading">Reset Password</div>
        		<div class="panel-body">
					<form class="form-horizontal" role="form"  action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
						<div id="form_reset">
    						{{ form_widget(form) }}
    					</div>
    					<div>
        					<input class="btn btn-default" type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
    					</div>
					</form>
					</div>
			</div>
		</div>
	</div>
</div>
