{% for entity in entities %}
	<div data-uid="{{ entity.id }}" data-x="{{ entity.coordX }}" data-y="{{ entity.coordY }}" class="divCommBox" title="Double click to edit comment">
		{{ entity.text }}
	</div>
{% endfor %}